.pankuzu-lists {
  height: 48px;
  border-top: $solid_style;
  &__box {
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    font-size: $links_font;
    li {
      .pankuzu-list {
        color: $links_color;
        &:hover {
          color: $pankuzu_color;
          @include link_underline;
        }
      }
      i {
        margin: 0 8px;
        color: $pankuzu_color;
      }
    }
    .current-page {
      font-weight: bold;
    }
  }
}
.breadcrumbs {
  margin-left: 218px;
  border-top: 1px solid #eee;
  height: 50px;
  padding-top: 15px;
  
}