.img-box__images__img
  = image_tag 'post_show/post-img', size: "60x60", alt: "post-img"
//以下仮置き
.img-box__images__img
.img-box__images__img
.img-box__images__img
.img-box__images__img
.img-box__images__img
.img-box__images__img
.img-box__images__img
.img-box__images__img
.img-box__images__img