= link_to post_path(other_post), {class: 'post-box'} do
  .post-box__image
    = image_tag other_post.images.first.image.url, size: "220x220", alt: "post-img"
  .post-box__body
    .post-name
      = other_post.product_name
    .post-num.clearfix
      .post-num__price
        = other_post.product_price
      .post-num__like
        %i.far.fa-heart.post-num__like__heart
        %span.post-num__like__count 3
    .post-tax (税込)