.sns-links
  %ul.sns-links__link-box
    %li.sns-link
      = link_to '#' do
        %i.fab.fa-facebook-square.fa-3x.sns-link--fb
    %li.sns-link
      = link_to '#' do
        %i.fab.fa-twitter-square.fa-3x.sns-link--twitter
    %li.sns-link
      = link_to '#' do
        %i.fab.fa-pinterest-square.fa-3x.sns-link--pinterest