.item-box
  = link_to root_path do
    .item-box__image
      = image_tag "top_page/item.jpg", size: "213x213"
    .item-box__boby
      %h3.item-title ネックレスああああああああああああああああああああああああああああああああああ
      .item-detail
        .item-detail__price ¥ 2,000
        .item-detail__heart
          %i.far.fa-heart
          %span 3
      %p.item-tax (税込)