-# 仮作成---------------------------------------------------------
-# .preview-box{id: "preview-box__#{image_counter}"}
-#   .upper-box
-#     %img{alt: "preview", height: "112", src: "#{image.image.url}", width: "112"}
-#   .lower-box
-#     .update-box
-#       %label.edit_btn{for: "post_images_attributes_#{image_counter}_image"} 編集
-#     .delete-box{id: "delete_btn_#{image_counter}"}
-#       %span 削除
