.post__upload__box
  %h3.post__upload__head
    出品画像
    %span.require__form 必須
  %p 最大10枚までアップロードできます
  .post__drop__box__container
    .prev-content
    .label-content
      %label{for: "post_images_attributes_0_image", class: "label-box", id: "label-box--0"}
        %pre.label-box__text-visible
          クリックしてファイルをアップロード
    .hidden-content
      = f.fields_for :images do |image|
        = image.file_field :image , class: "hidden-field"
    = render partial: 'shared/posts/form/error', locals: { post: @post, key: "images"}