.price__post__content
  %h3.post__container__sub__head 
    %span 販売価格(300〜9,999,999)
    %a.question__form ?
  .price__form__box
    %ul.price__form__box__content
      %li.form-content.clearfix
        .left__input
          =f.label :product_price, "価格", class: "left__label"
          %span.require__form 必須
        .right__input
          %span ￥
          = f.text_field :product_price, placeholder: "例)300", class: "input__format", id: "price_form"
          = render partial: 'shared/posts/form/error', locals: { post: @post, attr: :product_price}
      %li.clearfix__normal
        .left__label 販売手数料 (10%)
        .right__label#sales_fee -
      %li.clearfix.bold
        .left__label 販売利益
        .right__label#sales_profit -