.delivery__post__content
  %h3.post__container__sub__head 
    %span 配送について
    %a.question__form ?
  .post__form__box
    .form__content
      %label 配送料の負担
      %span.require__form 必須
      %div
        .select__box
          %select.select__box__format 送付料込み
          %i.icon__arrow__bottom
    .form__content__default
      %label
        発送元の地域
        %span.require__form 必須
      %div
        .select__box
          %select.select__box__format 北海道
          %i.icon__arrow__bottom
    .form__content__default
      %label 発送までの日数
      %span.require__form 必須
      %div
        .select__box
          %select.select__box__format 1〜2日で発送
          %i.icon__arrow__bottom