.post__upload__box
  %h3.post__upload__head
    出品画像
    %span.require__form 必須
  %p 最大10枚までアップロードできます
  .post__drop__box__container
    .post__upload__items__container__items
      .post__upload__items__container__items__item
        %ul
    .post__drop__box
      %input.post__drop__box__file
      %pre.text-visible ドラッグアンドドロップまたはクリックしてファイルをアップロード
      %i.fas.fa-camera