.post__content.post__btn__box
  %div
    %p
      %a 禁止されている出品
      、
      %a 行為
      を必ずご確認ください。
    %p 
      またブランド品でシリアルナンバー等がある場合はご記載ください。
      %a 偽ブランドの販売
      は犯罪であり処罰される可能性があります。
    %p 
      また、出品をもちまして
      %a 加盟店規約
      に同意したことになります。
  %button.btn__default-red 出品する
  %a.btn__default-gray もどる