.price__post__content
  %h3.post__container__sub__head 
    %span 販売価格(300〜9,999,999)
    %a.question__form ?
  .price__form__box
    %ul.price__form__box__content
      %li.form-content.clearfix
        .left__input
          %label.left__label
            価格
          %span.require__form 必須
        .right__input
          %span ￥
          %input.input__format{placeholder:  "例)300"}
      %li.clearfix__normal
        .left__label 販売手数料 (10%)
        .right__label -
      %li.clearfix.bold
        .left__label 販売利益
        .right__label -