.category__post__content.clearfix
  %h3.post__container__sub__head 商品の詳細
  .post__form__box
    .form__content
      %label
        カテゴリー
        %span.require__form 必須
      %div
        .select__box
          %select.select__box__format
          -# %i.fas.fa-chevron-down.icon__arrow__bottom
        .select__box
          %select.select__box__format カテゴリー２
          %i.icon__arrow__bottom
        .select__box
          %select.select__box__format カテゴリー３
          %i.icon__arrow__bottom
    .form__content__deafult
      %label
        サイズ
        %span.require__form 必須
      %div
        .select__box
          %select.select__box__format SSS
          %i.icon__arrow__bottom
    .form__content__deafult
      %label
        ブランド
        %span.any__form 任意
      %div
        .select__box
          %select.select__box__format 
    .form__content__deafult
      %label 商品の状態
      %span.require__form 必須
      %div
        .select__box
          %select.select__box__format 新品・未使用品
          %i.icon__arrow__bottom