.product__post__content
  .form__content__name
    %label 
      商品名
      %span.require__form 必須
    %div
      %input.input__form{placeholder: '商品名(必須40文字まで)'}
  .form__content__description
    %label 
      商品の説明                    
      %span.require__form 必須
    %textarea.textarea__form{placeholder: '商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など)例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'}