.post__upload__box{
  padding: 40px;
  .post__upload__head{
    font-weight: bold;
    font-size: 16px;
    margin: 8px 0 0;
    line-height: 1.5;
  }
  p{
    margin: 8px 0 0;
    line-height: 1.5;
  }
  .post__drop__box__container{
    display: block;
    margin: 16px auto 0;
    display: flex;
    flex-wrap: wrap;
    .prev-content {
      display: flex;
      .preview-box {
        height: 162px;
        width: 112px;
        margin: 0 15px 10px 0;
        .upper-box {
          height: 112px;
          width: 100%;
          // 仮置きここから-----------
          background: blue;
          // 仮置きここまで-----------
        }
        .lower-box {
          display: flex;
          text-align: center;
          .update-box {
            @include image_btn;
          }
          .delete-box {
            @include image_btn;            
          }
        }
      }
    }
    .label-content {
      margin-bottom: 10px;
      .label-box {
        display: block;
        border: 1px dashed #ccc;
        position: relative;
        background: #f5f5f5;
        width: 620px;
        height: 162px;
        &__text-visible {
          position: absolute;
          top: 50%;
          left: 16px;
          right: 16px;
          text-align: center;
          font-size: 14px;
          line-height: 1.5;
          font-weight: bold;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          pointer-events: none;
          white-space: pre-wrap;
          word-wrap: break-word;
        }
      }
      .hidden-field {
        display: none;
      }
    }
  }
}
