.price__post__content{
  padding: 40px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  .post__container__sub__head{
    color: #888;
    font-size: 14px;
  }
  .price__form__box{
    width: 400px;
    margin: 0;
    .price__form__box__content{
      list-style: none;
      .form-content{
        height: 48px;
        margin: 0 0 24px;
        border: 0;
        .left__input{
          float: left;
          .left__label{
            line-height: 48px;
            font-weight: 600;
          }
          .require__form {
            line-height: 48px;
          }
        }
        .right__input{
          float: right;
          text-align: right;
          .input__format{
            display: inline-block;
            text-align: right;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px; 
          }
        }
      }
      .clearfix__normal{
        padding: 24px 0;
        border-top: 1px solid #ccc;
        .left__label{
          float: left;
        }
        .right__label{
          float: right;
        } 
      }
      .clearfix.bold{
        padding: 24px 0;
        border-top: 1px solid #ccc;
        font-weight: 600;
        .left__label{
          font-size: 16px;
          float: left;
        }
        .right__label{
          font-size: 34px;
          float: right;
        }
      }
    }
  }
}