-# .backscreen
-#   .top_logo
-#     %a{href: "/", class: "top_logo__link"}
-#       =image_tag "profiles/mercari_logo.jpg", class: "top_logo__link__image"
.top_logo
  %a{href: "/", class: "top_logo__link"}
    =image_tag "profiles/mercari_logo.jpg", class: "top_logo__link__image"