.caution
  %a{href: "/", class: "caution__article"}
    プライバシーポリシー
  %a{href: "/", class: "caution__article"}
    メルカリ利用規約
  %a{href: "/", class: "caution__article"}
    特定商取引に関する表記

.end_logo   
  %a{href: "/"}
    =image_tag "profiles/end_logo.jpg", class: "end_image"
