.backscreen_sh
  .user-registration-header-second-type
    .header_sh
      .header_sh__logo
        %a{href: "/"}
          =image_tag "profiles/mercari_logo.jpg", class: "header_sh__logo__image"
        %br
  .form-group__new_5
    = form_tag(card_create_post_path(@post.id), method: :post, action: "create", id: 'charge-form',  name: "inputForm", class: "chapter__container__inner") do
      = render "credit_card/credit_card2"
  .user-registration-footer-second-type
    .caution_sh
      %a{href: "/", class: "caution_sh__article"}
        プライバシーポリシー
      %br
      %a{href: "/", class: "caution_sh__article"}
        メルカリ利用規約
      %br
      %a{href: "/", class: "caution_sh__article"}
        特定商取引に関する表記
      .caution_sh___logo
        %a{href: "/"}
          =image_tag "profiles/end_logo.jpg", class: "caution_sh__logo__end_image"