= render partial: 'shared/user_registration/form-header'

%h1.wait_sign 
  %i.far.fa-clock
  発送をお待ちください 

%h1.done_buy 
  購入完了しました 

.buy_image
  =image_tag @image.image.url

%p.product_name  
  =@post.product_name

%p.done_price
  ="¥ #{@post.product_price}"

.done_buy_place 
  .done_buy_place__box
    %a.done_buy_place__box__title
      配送先 
    %br
    %a.done_buy_place__box__address
      =@address.prefecture.name
    %br
    %a.done_buy_place__box__address
      =@address.city
    %br
    %a.done_buy_place__box__address
      =@address.block
    %br
    %a.done_buy_place__box__address
      =@address.building






