%h1.wait_sign 
  %i.far.fa-clock
  発送をお待ちください 

%h1.done_buy 
  購入完了しました 

.buy_image
  =image_tag "done_buy/chikyuu.png", class:"buy_image__image",size: "230x230"

%p.product_name  
  商品名

%p.done_price
  価格(税込み)

.done_buy_place 
  .done_buy_place__box
    %a.done_buy_place__box__title
      配送先 
    %br
    %a.done_buy_place__box__address
      神奈川県
    %br
    %a.done_buy_place__box__address
      海老名市
    %br
    %a.done_buy_place__box__address
      wwwwwwwwww
    %br
    %a.done_buy_place__box__address
      dddddddddd






