$content_background: white;
$btn_font_color: white;
$badge_font_color: white;
$body_background: #f5f5f5;
$guide_links: #0091ea;
$guide_links_hover: #00b0ff;
$red_btn: #ea352d;
$red_btn_hover: #e53935;
