.post-content__order-box {
  margin: 16px 0 24px 0;
  .order-btn {
    @include buy_btn_style($red-btn-color);
    opacity: 0.9;
    &:hover {
      opacity: 1.0;
      text-decoration: none;
    }
  }
  .sold-btn {
    @include buy_btn_style($gray_color);
    cursor: not-allowed;
  }
}