.comment-box {
  text-align: left;
  &__left-side {
    width: 44px;
    float: left;
    .user-box {
      &__user-avatar {
        float: left;
        border-radius: 50%;
      }
      &__user-avatar:hover {
        @include link_only_opacity;
      }
      &__user-name {
        float: left;
        padding-left: 10px;
        font-size: 14px;
        color: $links_color;
        font-weight: bold;
        position: absolute;
        &:hover {
          @include link_only_opacity;
        }
      }
      &__seller {
        float: left;
        margin: 8px 0 0;
        padding: 4px;
        color: $links_color;
        background: $comment_bg_color;
        border-radius: 2px;
        font-size: 12px;
        line-height: 100%;
        &:hover {
          @include link_underline;
        }
      }
    }
  }
  &__right-side {
    float: left;
    margin-bottom: 30px;
    .comment-body {
      margin-top: 20px;
      &__speech-bubble {
        width: 600px;
        padding: 16px;
        margin-left: 7px;
        box-sizing: border-box;
        background: $comment_bg_color;
        border-radius: 15px;
        &__text {
          font-size: 14px;
          line-height: 1.5;
          color: rgb(51, 51, 51);
          white-space: pre-wrap;
        }
        &__bottom {
          margin-top: 8px;
          font-size: 14px;
          color: $comment_font_color;
          .comment-time {
            display: inline-block;
            .fa-clock {
              font-size: 16px;
            }
          }
          .invalid-products-report-btn {
            float: right;
            &__flag {
              color: $comment_font_color;
            }
          }
        }
      }
    }
  }
}