.post-boxes{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .post-box{
    &:hover {
      text-decoration: none;
      opacity: 1.0;
    }
    //仮置き------ここから------
    background: pink;
    //仮置き------ここまで------
    height: 330px;
    width: 220px;
    margin-bottom: 20px;
    color: $links_color;
    &__image {
      height: 220px;
    }
    &__body {
      width: 220px;
      height: 110px;
      background: $white;
      padding: 16px;
      .post-name {
        font-size: 16px;
        line-height: 1.2em;
      }
      .post-num {
        margin-top: 8px;
        font-size: 15px;
        &__price {
          float: left;
          font-weight: bold;
        }
        &__like {
          float: right;
          &__heart {
            color: $heart_color;
          }
        }
      }
      .post-tax {
        font-size: 10px;
      }
    }
  }
}