.post-detail-table {
  width: 100%;
  border: 1px solid #eee;
  font-size: 14px;
  text-align: left;
  a:hover {
    @include link_underline;
  }
  th {
    background: $table_bg_color;
    padding: 10px;
  }
  td {
    padding: 10px;
    line-height: 1.8em;
    .evaluation {
      display: inline-block;
      margin-right: 10px;
    }
    .ev-good {
      color: #ef5185;
      font-size: 16px;
    }
    .ev-normal {
      color: #fba933;
      font-size: 16px;
    }
    .ev-bad {
      color: #6ab5d8;
      font-size: 16px;
    }
    .ev-count {
      line-height: 16px;
    }
  }
  .td-category {
    line-height: 125%;
  } 
}

tr ,td {
  border: $solid_style;
}